*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# exclude jar for gradle wrapper
!gradle/wrapper/*.jar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# build files
**/target
target
.gradle
build

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
/openapi/openapitools.json
/openapi/generated/settings.gradle
/openapi/generated/.openapi-generator/
/openapi/generated/api/
/openapi/generated/docs/
/openapi/generated/gradle/
/openapi/generated/src/
/openapi/generated/.gitignore
/openapi/generated/.openapi-generator-ignore
/openapi/generated/.travis.yml
/openapi/generated/build.gradle
/openapi/generated/build.sbt
/openapi/generated/git_push.sh
/openapi/generated/gradle.properties
/openapi/generated/gradlew
/openapi/generated/gradlew.bat
/openapi/generated/pom.xml
